import java.lang.reflect.Array;
import java.util.ArrayList;
import java.util.Scanner;

public class Main {
        public static Scanner sc;
        public static boolean loopprogram;
        public static ArrayList inventory = new ArrayList();
        public static ArrayList room = new ArrayList();
        public static int mapWidth = 10;
        public static int mapHeight = 10;
        public static int locationX;
        public static int locationY;

    public static void main(String[] args) {

        //Start of Game
        locationX = 0;
        locationY = 0;
        buildMap();
        sc= new Scanner(System.in);
        loopprogram = true;
        start();

        //Running game
        while(loopprogram){
            getLocation(locationX,locationY);
            System.out.print("Command? ");
            String cmd= sc.next();
            parseCmd(cmd);
        }
    }
    public static void start(){
        System.out.println("Menu: ");
        System.out.println("north ");
        System.out.println("south ");
        System.out.println("east ");
        System.out.println("west ");
    }
    public static void parseCmd(String cmd){
        switch(cmd){
            case "north":
                System.out.println("You move north.");
                locationY = locationY + 1;
                break;
            case "south":
                System.out.println("You move south.");
                locationY = locationY - 1;
                break;
            case "east":
                System.out.println("You move east.");
                locationX= locationX + 1;
                break;
            case "west":
                System.out.println("You move west.");
                locationX = locationX - 1;
                break;
            case "inventory":
                System.out.println(inventory);
                break;
            case "grab":
                inventory.add(room(0));
                break;
            case "run":

                break;
            case "flee":

                break;
            case "attack":

                break;
            case "shoot":

                break;
            case "map":
                getLocation(locationX, locationY);
                break;
//            case "open":
//
//                break;
//            case "take":
//
//                break;
//            case "take":
//
//                break;
//            case "take":
//
//                break;
//            case "take":
//
//                break;
//            case "take":
//
//                break;
//            case "take":
//
//                break;
//            case "take":
//
//                break;
//            case "take":
//
//                break;
//            case "take":
//
//                break;
//            case "take":
//
//                break;
            case "quit":
                System.out.println("Goodbye!");
                loopprogram = false;
                break;
            default:
                System.out.println("Unrecognized command!");
                break;
        }

    }
    public static void startArea(){

    }

    public static void buildMap() {
        for(int i= 0; i < mapHeight;i++){
            for(int j = 0; j < mapWidth; j++){

            }
            System.out.println();
        }
    }
    public static void getLocation(int x, int y){
        for(int i= 0; i < mapHeight;i++){
            if(i == y){

            }
        }
            for(int j = 0; j < mapWidth; j++){
                if (j == x){

                }
            }


        System.out.println();
    }
}

